:root {
  --primary-color: #3282b8;
  --dark-color: #1b262c;
  --light-color: #bbe1fa;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* Utility Classes */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 10px;
}

.small {
  font-size: 0.8rem;
  color: #aaa;
}

.unordered {
  list-style: disc;
  margin-left: 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: var(--dark-color);
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  border: none;
  font-size: 1rem;
}

.btn:focus {
  outline: none;
}

.btn-success {
  color: #fff;
  background-color: var(--success-color);
}

.btn-danger {
  color: #fff;
  background-color: var(--danger-color);
}

.btn-transparent {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.btn:hover {
  opacity: 0.8;
}

.logo {
  background-color: #fff;
  padding: 0.6rem;
  border-radius: 50%;
  color: var(--success-color);
  font-size: 1.8rem;
}

.text-large {
  font-size: 3.5rem;
  color: #333;
}

.text-medium {
  font-size: 2rem;
  color: #333;
}

.text-center {
  text-align: center;
}

.text-success {
  color: var(--success-color);
}

.lead {
  font-size: 1.5rem;
  margin: 1rem 0;
}

input, textarea {
  border-radius: 2px;
}

input:focus, textarea:focus {
  outline: 1px solid var(--success-color);
}

.form-group {
  margin: 1rem auto;
}

.form-group label {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  color: #333;
}

.form-group label, .form-group input, .form-group textarea {
  display: block;
  width: 100%;
  font-weight: 600;
}

.form-group input, .form-group textarea {
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

#file-upload {
  display: none;
}



.form-group-flex {
  display: flex;
  justify-content: space-between;
}

.form-group-flex > div {
  width: 40%;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}

.inputs-left > div {
  margin-bottom: 1.4rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin: 2rem 0;
}

.line-small {
  width: 100px;
  max-width: 100%;
  height: 3px;
  background-color: var(--dark-color);
  margin: 4rem auto;
}

.bg-white {
  background: #fff;
}

.chonk {
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

.chonk > span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  padding: 0 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--success-color);
}

.show-on-pad {
  display: none !important;
}

@media(max-width: 1200px) {
  .inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .text-large {
    font-size: 3rem;
  }

  .text-medium {
    font-size: 2rem;
  }

  .lead {
    margin: 1rem 0 0 0;
  }

  .line-small {
    margin: 2rem auto;
  }

  .inputs {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .inputs-right {
    grid-row: 1;
  }

  .form-group-flex {
    flex-direction: column;
  }

  .form-group-flex > div {
    width: 100%;
  }

  .form-group-flex div:not(:last-child) {
    margin-bottom: 1.4rem;
  }

  .hide-on-pad {
    display: none !important;
  }
}

@media(max-width: 500px) {
  .container {
    padding: 1rem;
  }

  .unordered {
    font-size: 0.9rem;
  }

  .text-large {
    font-size: 2rem;
  }

  .text-medium {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 1.1rem;
  }

  .block-on-mobile {
    width: 100%;
    display: block;
    text-align: center;
  }

  .hide-on-mobile {
    display: none !important;
  }

}

@media(max-width: 300px) {
  .container {
    margin-top: 14rem;
  }

  .unordered {
    font-size: 0.7rem;
  }

  .line-small {
    margin: 1rem auto;
  }

  .chonk {
    padding: 1rem;
  }

  .file-upload-label {
    height: 200px;
  }

  small {
    font-size: 0.7rem;
  }
}

