/* Single Recipe Page */
.single-recipe {
  border: 1px solid #ccc;
  font-size: 1.1rem;
  line-height: 35px;
}

.single-recipe img {
  max-width: 600px;
}

.single-recipe-content {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
}

.single-recipe h1 {
  margin-top: 8rem;
  font-size: 2.8rem;
  color: var(--success-color);
}

.single-recipe .time-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.single-recipe .time-info i {
  position: relative;
  display: inline-block;
  background-color: var(--success-color);
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.single-recipe .time-info i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.single-recipe .time-info p {
  display: flex;
  align-items: center;
}

.single-recipe .time-info strong {
  margin-left: 0.5rem;
}

.single-recipe-rating .fa-thumbs-up {
  color: var(--success-color);
}

.single-recipe-rating .fa-thumbs-down {
  color: var(--danger-color);
}

.single-recipe-rating i {
  font-size: 2rem;
}

.single-recipe-rating {
  display: flex;
  justify-content: center;
}

.single-recipe-rating span {
  margin-left: 5px;
  font-size: 1.5rem;
}

.single-recipe-rating button {
  margin-right: 20px;
  color: var(--dark-color);
}

.single-recipe-rating button:last-of-type {
  margin-right: 0;
}

.single-recipe-content img {
  align-self: center;
  margin-bottom: 4rem;
}

.single-recipe-author {
  padding: 1rem;
}

.single-recipe-author-text {
  display: block;
  text-decoration: underline;
  font-size: 0.9rem;
  color: var(--dark-color);
  text-align: center;
}

.single-recipe-description {
  text-align: center;
  margin-bottom: 2rem;
}

.single-recipe .ingredients-list {
  text-align: center;
}

.single-recipe .ingredients-list li:not(:last-child) {
  border-bottom: 1px dotted #ccc;
}

.single-recipe .directions-list {
  margin-bottom: 8rem;
}

@media(max-width: 800px) {
  .single-recipe-content {
    padding: 0 4rem;
  }
}

@media(max-width: 700px) {
  .single-recipe h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }

  .single-recipe .time-info {
    margin-bottom: 1rem;
  }

  .single-recipe .time-info span {
    font-size: 0.9rem;
  }

  .single-recipe-content img {
    margin-bottom: 2rem;
  }

  .single-recipe-author {
    margin-bottom: 1rem;
  }

  .single-recipe .directions-list {
    margin-bottom: 4rem;
  }
}

@media(max-width: 500px) {
  .single-recipe-rating i {
    font-size: 1.5rem;
  }

  .single-recipe-content {
    padding: 0 1rem;
  }

  .single-recipe-rating i, .single-recipe-rating span {
    font-size: 1rem;
  }

  .single-recipe-author {
    padding: 0.5rem !important;
  }

  .single-recipe h1 {
    margin-top: 2rem;
  }

  .single-recipe .directions-list {
    margin-bottom: 2rem;
  }

  .single-recipe .directions-list {
    padding: 1rem;
    line-height: 30px;
  }

  .single-recipe-description {
    font-size: 1rem;
    line-height: 30px;
  }
}

@media(max-width: 300px) {
  .single-recipe h1 {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .single-recipe .time-info {
    margin-bottom: 0.5rem;
  }

  .single-recipe-content img {
    margin-bottom: 1.2rem;
  }

  .single-recipe .ingredients-list li, .single-recipe .directions-list li {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  
  .single-recipe-description p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}