/* Single Recipe Page */
.single-recipe {
  border: 1px solid #ccc;
  font-size: 1.1rem;
  line-height: 35px;
}

.single-recipe img {
  max-width: 600px;
}

.single-recipe-content {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
}

.single-recipe h1 {
  margin-top: 8rem;
  font-size: 2.8rem;
  color: var(--dark-color);
}

.single-recipe .time-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.single-recipe .time-info i {
  position: relative;
  display: inline-block;
  background-color: var(--success-color);
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.single-recipe .time-info i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.single-recipe .time-info p {
  display: flex;
  align-items: center;
}

.single-recipe .time-info strong {
  margin-left: 0.5rem;
}

.single-recipe-rating .fa-thumbs-up {
  color: var(--success-color);
}

.single-recipe-rating .fa-thumbs-down {
  color: var(--danger-color);
}

.single-recipe-rating i {
  font-size: 2rem;
}

.single-recipe-rating {
  display: flex;
  justify-content: center;
}

.single-recipe-rating span {
  margin-left: 5px;
  font-size: 1.5rem;
}

.single-recipe-rating a {
  margin-right: 20px;
  color: var(--dark-color);
}

.single-recipe-content img {
  align-self: center;
  margin-bottom: 4rem;
}

.single-recipe-author {
  padding: 1rem;
}

.single-recipe-author-link {
  display: block;
  text-decoration: underline;
  font-size: 0.9rem;
  color: var(--dark-color);
  text-align: center;
}

.single-recipe-description {
  text-align: justify;
  margin-bottom: 2rem;
}

.single-recipe .ingredients-list {
  text-align: center;
}

.single-recipe .ingredients-list li:not(:last-child) {
  border-bottom: 1px dotted #ccc;
}

.single-recipe .directions-list {
  margin-bottom: 8rem;
}

/* Comments */
.comments {
  border: 1px solid #ccc;
  border-top: none;
  padding: 2rem;
}

.comment {
  border: 1px solid #ccc;
  padding: 1rem;
}

.comment:not(:last-child) {
  margin-bottom: 2rem;
}

.comment .comment-top {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.comment .name-and-date {
  display: flex;
  flex-direction: column;
}

.comment .comment-date {
  font-size: 0.8rem;
  color: #555;
}

.comment .comment-author-date {
  font-size: 1.25rem;
}

.comment .comment-author-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.comment .comment-author {
  display: flex;
  align-items: center;
}

.comment .comment-author span {
  margin-left: 10px;
}

.comment .comment-content p {
  line-height: 30px;
}

.add-comment-form {
  padding: 2rem;
  border: 1px solid #ccc;
  border-top: none;
}

.add-comment-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.add-comment-form button {
  text-transform: uppercase;
  width: 150px;
}

@media(max-width: 800px) {
  .single-recipe-content {
    padding: 0 4rem;
  }
}

@media(max-width: 700px) {
  .single-recipe h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }

  .single-recipe .time-info {
    margin-bottom: 1rem;
  }

  .single-recipe .time-info span {
    font-size: 0.9rem;
  }

  .single-recipe-content img {
    margin-bottom: 2rem;
  }

  .single-recipe-author {
    margin-bottom: 1rem;
  }

  .single-recipe .directions-list {
    margin-bottom: 4rem;
  }
}

@media(max-width: 500px) {
  .single-recipe-rating i {
    font-size: 1.5rem;
  }

  .single-recipe-content {
    padding: 0 1rem;
  }

  .single-recipe-rating i, .single-recipe-rating span {
    font-size: 1rem;
  }

  .single-recipe-author {
    padding: 0.5rem !important;
  }

  .add-comment-form button {
    display: block;
    width: 100%;
  }

  .single-recipe h1 {
    margin-top: 2rem;
  }

  .single-recipe .directions-list {
    margin-bottom: 2rem;
  }

  .comments, .add-comment-form {
    padding: 1rem;
  }

  .add-comment-form textarea {
    font-size: 1.2rem;
  }

  .single-recipe .directions-list, .single-recipe .ingredients-list span {
    padding: 1rem;
    line-height: 30px;
  }

  .single-recipe-description {
    font-size: 1rem;
    line-height: 30px;
  }
}

@media(max-width: 300px) {
  .single-recipe h1 {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .single-recipe .time-info {
    margin-bottom: 0.5rem;
  }

  .single-recipe-content img {
    margin-bottom: 1.2rem;
  }

  .single-recipe .ingredients-list li, .single-recipe .directions-list li {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .comment .comment-content p{
    font-size: 0.8rem;
    line-height: 1.2rem !important;
  }

  .add-comment-form textarea {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  
  .single-recipe-description p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}